body{
  background:#f4f4f4;
}

/* Navbar */
.navbar{
  min-height: 33px !important;
  margin-bottom:0;
  border-radius:0;
}

.navbar-nav > li > a, .navbar-brand{
  padding-top:6px !important;
  padding-bottom:0 !important;
  height: 33px;
}

.navbar-default .navbar-nav > li > a {
  color: #333333;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
  color: #2D9CDB;
  /* background-color: #445aad; */
}
.navbar {
  /* background-color: #0673bd; */
}
.navbar .navbar-brand {
  color: #ffffff;
}
.navbar .navbar-brand:hover,
.navbar .navbar-brand:focus {
  color:#2D9CDB;
}
.navbar .navbar-text {
  color: #ffffff;
}
.navbar .navbar-text a {
  color: #2D9CDB;
}
.navbar .navbar-text a:hover,
.navbar .navbar-text a:focus {
  color: #2D9CDB; 
}
.navbar .navbar-nav .nav-link {
  color: #ffffff;
  border-radius: .25rem;
  margin: 0 0.25em;
}
.navbar .navbar-nav .nav-link:not(.disabled):hover,
.navbar .navbar-nav .nav-link:not(.disabled):focus {
  color: #2D9CDB;
}
.navbar .navbar-nav .dropdown-menu {
  background-color: #0673bd;
  border-color: #445aad;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar .navbar-nav .dropdown-menu .dropdown-item:hover,
.navbar .navbar-nav .dropdown-menu .dropdown-item:focus,
.navbar .navbar-nav .dropdown-menu .dropdown-item.active {
  color: #2D9CDB;
  background-color: #445aad;
}
.navbar .navbar-nav .dropdown-menu .dropdown-divider {
  border-top-color: #445aad;
}
.navbar .navbar-nav .nav-item.active .nav-link,
.navbar .navbar-nav .nav-item.active .nav-link:hover,
.navbar .navbar-nav .nav-item.active .nav-link:focus,
.navbar .navbar-nav .nav-item.show .nav-link,
.navbar .navbar-nav .nav-item.show .nav-link:hover,
.navbar .navbar-nav .nav-item.show .nav-link:focus {
  color: #2D9CDB;
  background-color: #445aad;
}
.navbar .navbar-toggle {
  border-color: #445aad;
}
.navbar .navbar-toggle:hover,
.navbar .navbar-toggle:focus {
  background-color: #445aad;
}
.navbar .navbar-toggle .navbar-toggler-icon {
  color: #ffffff;
}
.navbar .navbar-collapse,
.navbar .navbar-form {
  border-color: #ffffff;
}
.navbar .navbar-link {
  color: #ffffff;
}
.navbar .navbar-link:hover {
  color: #2D9CDB;
}

@media (max-width: 575px) {
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2D9CDB;
  }
  .navbar-expand-sm .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2D9CDB;
    background-color: #445aad;
  }
}

@media (max-width: 767px) {
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2D9CDB;
  }
  .navbar-expand-md .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2D9CDB;
    background-color: #445aad;
  }
}

@media (max-width: 991px) {
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2D9CDB;
  }
  .navbar-expand-lg .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2D9CDB;
    background-color: #445aad;
  }
}

@media (max-width: 1199px) {
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item {
    color: #ffffff;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:hover,
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item:focus {
    color: #2D9CDB;
  }
  .navbar-expand-xl .navbar-nav .show .dropdown-menu .dropdown-item.active {
    color: #2D9CDB;
    background-color: #445aad;
  }
}

.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item {
  color: #ffffff;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:hover,
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item:focus {
  color: #2D9CDB;
}
.navbar-expand .navbar-nav .show .dropdown-menu .dropdown-item.active {
  color:#2D9CDB;
  background-color: 
  #333333;
}

/* Custom */
.main-color-bg{
  background-color: 
  #333333 !important;
  border-color: #4455ad !important;
  color:#ffffff !important;
}

/* Header */

#header{

  padding-bottom: 10px;
  margin-bottom: 5px;
}

#header .create{
  padding-top: 20px;
}
.header{
  display: flex;
  justify-content: center;
}
/* Breadcrumb */
.col-md-12--grey{
  border-radius: 3px;
  position: relative;
  min-height: 1px;
  background:#cccccc;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
}
.breadcrumb{
  background:#cccccc;
  color:#333333;
  padding-left: 10px;
 margin-bottom: 0;
}

.breadcrumb a{
  color:#333333;
}

/* Progress Bars */
.progress-bar{
  background:#2D9CDB;
  color:#ffffff;
}

.dash-box{
  text-align:center;
}
/* login */
#login{
  margin-top:50px;
}
/* login */
.login_row{
  display: flex;
  justify-content: center;
  margin-right: 46px;
}
.login__banner{
  height: 700px;
  background-image: url("../../assets/img/login-bg.jpg");
  background-size: cover;
}
::placeholder{
  color: #2F80ED!important;
  opacity: 0.7;
}
.cards--title{
  font-size: 24px;
  margin-top: 0;
  padding-bottom: 20px;
  font-weight: bold;
  text-align: center;
}
.well--login{
  padding: 60px 100px;
  width: 496px;
  min-height: 20px;
  margin-bottom: 20px;
  background-color: #f5f5f5;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .05);
}
.form-control--login {
  display: block;
  width: 100%;
  height: 40px;
  padding: 6px 12px;
  font-size: 16px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
.btn-primary--login {
  color: #fff;
  background-color: #2F80ED;
  border-color: #2F80ED;
  height: 40px;
  font-size: 20px;
}
.btn-primary--login:hover{
  background-color: #0264ce!important;
  color: #fff;
}

.admin--icon{
  margin-top: 110px;
  text-align: center;
}
.admin--icon-span{
  display: flex;
  justify-content: center;
}
/* login */
/* Footer */
#footer{
  background:
  #333333 ;
  color:#ffffff;
  text-align:center;
  padding:30px;
  margin-top:30px;
}
.footer{
  display: flex;
  justify-content: center
  
}
#footer-login{

  color:#ffffff;
  text-align:center;
  padding:30px 100px;
}

/* btn */
