html, body{
    height: 100%;
    color: #F2F2F2;
}
/* banner */
.admin--icon{
    margin-top: 30px;
}
.btn-admin-home{
    height: 40px!important;
    width: 164px!important;
    text-align: center!important;
    background: none;
    border: 1px solid white;
    margin-top: 30px;
    float: right;
    border-radius: 4px;
}
.btn-admin-text{
    height: 40px!important;
    width: 195px!important;
    text-align: center!important;
    border-radius: 4px;

}
.btn--center{
text-align: center;
}

.admin--text-big{
    display: flex;
   justify-content: center;
    color: white;
    font-size: 36px;
    padding-top: 150px;
    margin-bottom: 8px;
    margin-left: 108px;
    padding-bottom: 0;
    text-align: right;
    font-weight: 700;
}
.admin--text-small{
    display: flex;
   justify-content: center;
   align-items: center;
    color: white;
    font-size: 24px;
    font-weight: 600;
}
.index__banner{
    display: flex;

    height: 600px;
    background-image: url("../../assets/img/grey-skies-street_4460x4460.jpg");
    background-position: center;
    background-size: cover;
    background-position: fixed;
}
/*banner  */

/* cards */
.cards{
    background-color: #f2f2f2;
    padding-top: 80px;
}
.cards--title{
    color: #333333;
    font-size: 24px;
    text-align: center;
    padding-bottom: 40px;
}
.cards__row{

    margin: 0 110px;
    padding-bottom: 30px;
    
}
.cards__cards{
    color: #333333;
    padding-top: 24px;
    padding-left: 16px;
    padding-bottom: 40px;
}
.cards__cards--title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 17px;
}
.cards__cards--image{
    margin-bottom: 17px;
}

/* cards */
/* b ills*/
.bills{
    background-color: #ffffff;
    padding-top: 40px;
}
.align-self-center{
    text-align: center;
    color: #333333;
}
.bills__cards--title{
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 8px;
}
.bills--title{
    color: #333333;
    font-size: 24px;
    text-align: center;
    padding-bottom: 80px;
}
.cards__cards--image-pay{
    margin-bottom: 24px;
    cursor: pointer;
}
.bill__card-position{
    position: relative;
    top: -62px;
}
.bill__card-position-2{
    position: relative;
    top: -112px;
}









.home--numbers{
    border-radius: 50px;
    height: 80px;
    width: 80px;
    text-align: center;
    border: 2px solid #2D9CDB;
    color: #2D9CDB;
    padding-top: 8px;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 32px;
    /* margin-right: 32px; */
    margin-top: 40px;
}
.home__cards--title{
    text-align: center;
}
body > header > section.nav__contact > div > div > div{
    min-height: 69px;
    padding-top: 16px;
    padding-bottom: 16px;
}
.contact__header--payment{
    min-height: 69px;
    padding-top: 0!important;
    padding-bottom: 0 !important;
}
body > header > section.nav__contact{
    border-top: 1px solid #E5E5E5;
}
body > header > section.nav__contact > div > div > div > ul > li{
    padding-right: 56px;
}
body > header > section.nav__contact > div > div > div > ul > li > a{
    font-size: 18px;
    font-weight: bold;
    color: #333333;
} 
body > header > section.nav__contact > div > div > div > ul > li > a:hover{
    color: #2D9CDB !important;
}
.active__smallnav{
    color: #2D9CDB !important;
    border-bottom: 2px solid #f29948;
}

.contact__banner{
    height: 440px;
    background-image: url("../../assets/img/breather-168751-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-position: fixed;
}
.contact__contact{
    border: 0.25px solid #E5E5E5;
    margin-top: 80px;
    margin-bottom: 80px;
    min-height: 500px;
}
.container__contact{
display: flex;
justify-content: center;

}
.contact__header{
    text-align: center;
    font-size: 24px;
    color: #333333;
    padding-bottom: 20px;
    padding-top: 20px;
}
body > header > section.contact > div > div > hr{
    margin: 0 auto;
    width: 80%;
}
.contact__text{
    padding-left: 100px;
    padding-bottom: 20px;
    padding-top: 40px;
}
.contact__title{
   color:  #828282;
}
.contact__details{
   color:  #333333;
   margin-bottom: 32px;
}

/* contact us */
 /* footer */
footer{
    min-height: 210px;
    background-color: #333333;
}
body > header > footer > div > ul{
    list-style: none;
    padding-top: 42px;
}
body > header > footer > div > ul > li{
    color: white;
    font-size: 18px;
    display: inline-block;
    padding-right: 90px;
}
.nav-footer{
    color: white;
    font-size: 18px;
}
body > header > footer > div > ul > li:nth-child(5) > a > img{
    height: 40px;
    width: 40px;
}

body > header > footer > div > ul > li:nth-child(5) > a{
    padding-right: 8px;
}
body > header > footer > div:nth-child(2){
    display: flex;
    justify-content: center;
    margin-top: 36px;
}
 /* footer */




 /*about us  */
 .about__banner{
    height: 440px;
    background-image: url("../../assets/img/patrick-perkins-340019-unsplash.jpg");
    background-position: center;
    background-size: cover;
    background-position: fixed;
 }
    .about__text{
        margin: 0 auto;
        text-align: center;
        padding: 40px 109px;
        font-size: 18px;
    }
